
.layui-btn-group .layui-btn{
    background: #FF6666;
    color: black;
}

.layui-btn-group .layui-btn:hover{
    background: #FF6666;
    color: black;
}

.layui-btn-group .layui-btn:after{
    background: #FF6666;
    color: black;
}

.layui-btn-group .layui-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}


/*按钮样式*/
.default_button_style{
    border: 1px solid #D9D9D9;
    color: rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}
.default_button_style:hover,.default_button_style:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);;
    cursor:pointer;
}


.layui-form-radio * {
    color: rgba(0, 0, 0, 0.65);
}

.layui-form-select dl dd.layui-this {
    background-color: #FF6666;
    color: #FFFFFF;
}

#websiteImgDiv{
    display: none;
}